
<section id="contact">
    <p class="section_text_p1">Get in Touch</p>
    <h1 class="title">Contact Me</h1>
    <div class="contact-info-upper-container">
      <div class="contact-info-container">
        <img
          src="./assets/email.png"
          alt="Email icon"
          class="icon contact-icon email-icon"
        />
        <p><a href="mailto:7roubb@gmail.com">{{email}}</a></p>
      </div>
      <div class="contact-info-container">
        <img
          src="./assets/linkedin.png"
          alt="LinkedIn icon"
          class="icon contact-icon"
        />
        <p><a href="https://www.linkedin.com">LinkedIn</a></p>
      </div>
    </div>
  </section>
  <footer>
    <nav>
      <div class="navbar">
        <ul class="link">
          <li><a href="/about">About</a></li>
          <li><a href="/experience">Experience</a></li>
          <li><a href="/certif">Certification</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </nav>
    <p>Copyright &#169; 2024 Osama Hroub. All Rights Reserved.</p>
  </footer> 

