html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Monument Extended";
    text-transform: uppercase;
    font-size: 100px;
    z-index: 3;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(126, 217, 87, 255);
    animation: slide-out-container 1s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
    animation-fill-mode: forwards;
}

.text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust height as needed */
    position: relative;
    z-index: 0;
}



.text img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease-in-out; /* Smooth transition on transform */
}





.text-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: blink 3.9s , enterFromBottom 2s ;
    opacity: 0;
    position: absolute;
    z-index: 0;
}

.text-12 img {
    max-width: 60%;
    height: auto;
    display: block;
    transition: transform 0.5s ease-in-out; /* Smooth transition on transform */
}

.text-11 {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: blink 3.9s , enterFromTop 2s ;
    opacity: 0;
}

.text-11 img {
    max-width: 60%;
    height: auto;
    display: block;
    transition: transform 0.5s ease-in-out; /* Smooth transition on transform */

}

@keyframes enterFromTop {
    from {
        opacity: 0;
        transform: translateY(-100vh); /* Move from top of the page */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes enterFromBottom {
    from {
        opacity: 0;
        transform: translateY(100vh); /* Move from bottom of the page */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes exitToTop {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100vh); /* Move to top of the page */
    }
}

@keyframes exitToBottom {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(100vh); /* Move to bottom of the page */
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
}
@keyframes slide-out-container {
    0% {
        height: 100vh;
    }

    40% {
        height: 100vh;
    }

    100% {
        height: 0%;
    }
}

@media (min-width: 1200px) {
    .header {
        font-size: 24px;
    }
    .text-12 img {
        width: 40%;
    }
    .text-11 img {
        width: 40%;
    }
    .text {
        font-size: 24px;
    }
}