
<section id="profile">
   
    <div class="section_pic">
        <img src="assets/osama.png" alt="Profile Picture">
    </div>
    <div class="section_text">
        <p class="section_text_p1">Hello, I`m</p>
        <h1 class="title">{{ typedText }}</h1>
        <p class="section_text_p2" #typedElement></p>

        <div class="socials-container">
            <a href='https://github.com/7roubb' target=" _blank">
                <img src="assets/github.png" alt="GitHub Profile" class="icon">
            </a>
            <a href='https://www.linkedin.com/in/osama-alhroub-06b745206/' target="_blank">
                <img src="assets/linkedin.png" alt="LinkedIn Profile" class="icon">
            </a>
            <a href='https://www.datacamp.com/portfolio/osama7roub' target="_blank">
                <img src="assets/datacamp.png" alt="LinkedIn Profile" class="icon datacamp">
            </a>
        </div>
    </div>
</section>