

.icon {
    cursor: pointer;
    height: 4rem;

}

.icon2 {
    height: 2rem;

}

section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;

}

.section-container {
    display: flex;
}

#profile {
    display: flex;
    justify-content: center;

}
.section_pic {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;

}

.section_text {
    align-self: center;
    text-align: center;
}

.section_text p {
    font-weight: 600;
}

.section_text_p1 {
    text-align: center;
}

.section_text_p1 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.section_text_p2 {
    height: 1.8rem;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    height: 1.8rem;
    align-items: center;
    
}

.title {
    height: 4rem;
    font-size: 3rem;
    text-align: center;
    color: rgba(126, 217, 87, 255);
    text-align: center;

}
.icon.datacamp{
    padding-left: 10px;
    cursor: pointer;
    height: 3rem;
}
.section-container {
    display: flex;
}
@media screen and (min-width: 1200px) {
    .title{
      width: 600px;
    }}